body {
    font-family: sans-serif;
}

ul#topnav {
    list-style-type: none;
    margin: 0 0 0 1%;
    display: table;
    padding: 0;
    overflow: hidden;
    width: 60%;
    position: absolute;
    bottom: 0;
}

ul#topnav li {
    display: table-cell;
    text-align: center;
}

ul#topnav li a {
    background: #333;
    color: #999;
    border: none;
    display: block;
    margin-right: 5px;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 15px;
}

ul#topnav li a.active {
    background: #fff;
    color: #333;
}

ul#topnav li a.first {
    background: rgb(255, 128, 128);
    color: #111;
}

ul#topnav li a.second {
    background: rgb(255, 196, 128);
    color: #111;
}

ul#topnav li a.third {
    background: rgb(252, 241, 141);
    color: #111;
}

ul#topnav li a.fourth {
    background: rgb(168, 255, 128);
    color: #111;
}

ul#topnav li a.fifth {
    background: rgb(177, 128, 255);
    color: #111;
}


ul#topnav li a.plain {
    background: rgb(255, 255, 255);
    color: #111;
    border-style: groove;
}

ul#topnav li a.first:hover,
ul#topnav li a.second:hover,
ul#topnav li a.third:hover,
ul#topnav li a.fourth:hover,
ul#topnav li a.fifth:hover {
    background: #33aaff;
    color: #111;
}

#banner {
    position: relative;
    padding: 15px;
    height: 20px;
    border: 0px;
    color: #fff;
    background: #33aaff;
}


.container {
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    width: auto;
    height: 830px;
    border-style: groove;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.sequence {
    flex-basis: 85%;
    padding: 10px 10px 10px 10px;
    height: auto;
    border-style: groove;
    overflow: auto;
}

.sidebar {
    flex-basis: 10%;
    height: auto;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-style: groove;
    position: relative;
}

.toggle_button1{
    cursor: pointer;
    display: block;
    background: rgb(255, 196, 128);
    text-align: center;
    border: 1px solid #ccc;
}

.toggle_button2{
    cursor: pointer;
    display: block;
    background: rgb(252, 241, 141);
    text-align: center;
    border: 1px solid #ccc;
}

.toggle_button3{
    cursor: pointer;
    display: block;
    background: rgb(168, 255, 128);
    text-align: center;
    border: 1px solid #ccc;
}
.toggle_button4 {
    cursor: pointer;
    display: block;
    background: rgb(177, 128, 255);
    text-align: center;
    border: 1px solid #ccc;
}

#toggle_button1,
#toggle_button2,
#toggle_button3,
#toggle_button4,
#toggle_contents {
    height: 0;
    overflow: hidden;
    position: absolute;
    font-size: 15px;
}

#toggle_button1:checked+#toggle_contents,
#toggle_button2:checked+#toggle_contents,
#toggle_button3:checked+#toggle_contents,
#toggle_button4:checked+#toggle_contents {
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
}

.close_button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    background: #555;
    color: #fff;
}