body {
    font-family: sans-serif;
    background: #94B49F;
}

ul#topnav {
    list-style-type: none;
    margin: 0 0 0 1%;
    display: table;
    padding: 0;
    overflow: hidden;
    width: 55%;
    position: absolute;
    bottom: 0;
}


ul#bottomnav {
    list-style-type: none;
    margin: 0 0 0% 1%;
    display: table;
    padding: 0;
    overflow: hidden;
    width: 50%;
    position: absolute;
    bottom: 0;
}

ul#sidenav {
    list-style-type: none;
    display: table;
    padding: 0;
    overflow: hidden;
    width: 90%;
    position: absolute;
    bottom: 0;
}

ul#bottomnav li,
ul#topnav li,
ul#sidenav li {
    display: table-cell;
    text-align: center;
}


ul#bottomnav li a,
ul#topnav li a,
ul#sidenav li a {
    cursor: pointer;
    background: #333;
    color: #999;
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
}


ul#bottomnav li a:active,
ul#topnav li a:active,
ul#sidenav li a:active {
    top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;
}


ul#bottomnav li a.plain,
ul#topnav li a.plain,
ul#sidenav li a.plain {
    background: rgb(255, 255, 255);
    color: #111;
    border-style: groove;
}


ul#bottomnav li a.plain:active,
ul#topnav li a.plain:active,
ul#sidenav li a.plain:active {
    background: rgb(190, 190, 190);
    color: #111;
    border-style: groove;
}


ul#bottomnav li a.plain:hover,
ul#topnav li a.plain:hover,
ul#sidenav li a.plain:hover {
    background: rgb(216, 216, 216);
    color: #111;
    border-style: groove;
}

ul#topnav li a.first {
    background-color: #BFD8B8;
    /*background: #BFD8B8;*/
    color: #111;
}

ul#topnav li a.first:active {
    background-color: #92bd87;
    box-shadow: 0 0 0 1px #92bd87 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

ul#topnav li a.first:hover {
    background-color: #a1c697;
}

ul#topnav li a.second {
    background-color: #CEE5D0;
    color: #111;
}

ul#topnav li a.second:active {
    background-color: #9ccaa0;
    box-shadow: 0 0 0 1px #9ccaa0 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

ul#topnav li a.second:hover {
    background-color: #add3b0;
}

ul#topnav li a.third {
    background-color: #FCF8E8;
    color: #111;
}

ul#topnav li a.third:active {
    background-color: #f3e3a4;
    box-shadow: 0 0 0 1px #f3e3a4 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

ul#topnav li a.third:hover {
    background-color: #f6eabb;
}


ul#topnav li a.fourth {
    background: #ECB390;
    color: #111;
}

ul#topnav li a.fourth:active {
    background-color: #e1864f;
    box-shadow: 0 0 0 1px #e1864f inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

ul#topnav li a.fourth:hover {
    background-color: #e59564;
}


ul#topnav li a.fifth {
    background: #eca290;
    color: #111;
}

ul#topnav li a.fifth:active {
    background-color: #e16c4f;
    box-shadow: 0 0 0 1px #e16c4f inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}

ul#topnav li a.fifth:hover {
    background-color: #e16c4f;
}

#banner {
    position: relative;
    padding: 15px;
    height: 30px;
    border: 0px;
    color: #fff;
    background: #94B49F;
}


.container {
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    width: auto;
    height: 780px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #94B49F;
}


.sequence {
    flex-basis: 85%;
    padding: 0px 20px 5px 15px;
    height: auto;
    border-style: groove;
    display: inline-block;
    word-break:break-all;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    font-family: monospace; /*모든 글자의 길이와 너비 동일*/
    line-height: 1.5; /*줄 간격*/
    letter-spacing: 3px; /*글자 사이 너비*/
}

h1#target {
    display: inline;
    color: rgb(68, 68, 68);
    opacity: 50%;
	/*color:rgba(255, 128, 128,0.5);50% 불투명도*/
}
h1#feature1{
    display: inline;
	background-color: #add3b0;
    opacity: 75%;
}
h1#feature2{
    display: inline;
	background-color: #f3e3a4;
    opacity: 75%;
}
h1#feature3{
    display: inline;
	background-color: #ECB390;
    opacity: 75%;
}
h1#highlight{
    display: inline;
	background-color: #fffb00;
    opacity: 75%;
}

.sidebar {
    flex-basis: 10%;
    height: auto;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    position: relative;
    background: #fff;
    /*visibility: hidden;*/
}


.toggle_button1{
    cursor: pointer;
    display: block;
    background: #CEE5D0;
    text-align: center;
    border: 1px solid #ccc;
}

.toggle_button2{
    cursor: pointer;
    display: block;
    background: #FCF8E8;
    text-align: center;
    border: 1px solid #ccc;
}

.toggle_button3{
    cursor: pointer;
    display: block;
    background: #ECB390;
    text-align: center;
    border: 1px solid #ccc;
}

#toggle_button1,
#toggle_button2,
#toggle_button3,
#toggle_contents1,
#toggle_contents2,
#toggle_contents3 {
    height: 0;
    overflow: hidden;
    position: absolute;
    font-size: 15px;
}

#toggle_button1:checked+#toggle_contents1,
#toggle_button2:checked+#toggle_contents2,
#toggle_button3:checked+#toggle_contents3 {
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
}

.close_button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    background: #555;
    color: #fff;
}

.fit-picture {
    width: 20px;
    height: 20px;
}

.hidden {
    visibility: hidden;
}

